.nav-box {
    align-items: center;
    align-content: center;
    background-color: #3B3B3E;
    color: white;
}

ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
}